@mixin color-rotation ($border-size:3) {
  border: calc(#{$border-size}*1px) solid;
  border-image:
  linear-gradient(
    #ff512f,
    #dd2476,
    #1c64ff) 1;
    animation: rotate
    2.5s
    ease-in
    infinite;
}

@mixin rotate {
  @keyframes rotate {
    50% {
      border-image:
      linear-gradient(
        360deg,
        #ff512f,
        #dd2476,
        #1c64ff) 1;
    }
  }
}

@mixin searched-box {
  @include trans;
  line-height: 1.8;
  width: 100%;
  height: 130px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px 0 0 10px;
  float: left;
  overflow: auto;
  margin: .5em 0;
  padding: .5em 0;
  
  li {
    list-style: none;
  }

  button:hover {
    @include trans(.2);
    color: $dm-pt-color1;
  }
}