@mixin color-rotation ($border-size:3) {
  border: calc(#{$border-size}*1px) solid;
  border-image:
  linear-gradient(
    #ff512f,
    #dd2476,
    #1c64ff) 1;
    animation: rotate
    2.5s
    ease-in
    infinite;
}

@mixin rotate {
  @keyframes rotate {
    50% {
      border-image:
      linear-gradient(
        360deg,
        #ff512f,
        #dd2476,
        #1c64ff) 1;
    }
  }
}

@mixin searched-box {
  @include trans;
  line-height: 1.8;
  width: 100%;
  height: 130px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px 0 0 10px;
  float: left;
  overflow: auto;
  margin: .5em 0;
  padding: .5em 0;
  
  li {
    list-style: none;
  }

  button:hover {
    @include trans(.2);
    color: $dm-pt-color1;
  }
}


@mixin scrollbar {
::-webkit-scrollbar{width: 1vh;}
// ::-webkit-scrollbar-track {background-color:$dm-nav-color; border-radius: 1vh;}
::-webkit-scrollbar-track {background-color:$dm-nav-color; border-radius: 1vh;}
::-webkit-scrollbar-thumb {background-color:$dm-nav-color; border-radius: 1vh;}
::-webkit-scrollbar-thumb:hover {background: $dm-pt-color1;}
// ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment
// {
//   width:.75vh;height:.75vh;background:transparent;}
}

@mixin article-list-header-section {
  @include flex;
  justify-content: space-between;
  align-items: center;

  #create-article-btn {
    @include flex;
    gap: .5em;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    width: 150px;
    height: 32px;
    border-radius: 5px;
    background-color: $dm-pt-color1;
    
    @include icon(black);

    span {
      color: black;
    }
  }

  #select-section {
    @include flex-gap;
  }
}

@mixin main-title {
  @include flex;
  @include f-1;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  border-bottom: 1px solid white;
  padding-bottom: .3em;
}


@mixin article-list-header {
  @include flex;
  padding: 1em;
  background-color: $dm-bg-color1-light;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid white;
  font-weight: 600;
  

  .article-id {
    @include flex-line(1, center);
  }
  .article-title {
    @include flex-line(7, center);
  }

  .article-user {
    @include flex-line(2, center);
  }
}

@mixin movie-card-item {
  @include flex-gap(column, 0);
  @include li-none;
  align-items: center;
  flex-grow: 1;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  width: 180px;
  height: auto;
  padding: 0;
  margin: .5em 0;

  .movie-poster {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .movie-title {
    @include flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 600;
    height: 4em;
  }
}
