// fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@mixin font ($size:1em , $weight:Regular) {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: $size;
  font-weight: $weight;
}