@mixin profile-form {
  @include trans;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0em 1em 5em black;
  background-color: mix($dm-bg-color1, white, 90%);

  padding: 3em;
  margin: 5em auto;

  @media only screen and (max-width: 768px) {
    width: 80%;
  }

  @media only screen and (max-width: 465px) {
    width: 90%;
  }
}