@import "@/styles/mixins/_pagination.scss";

body {
  background-color: $dm-bg-color1;
}

.v-application .article-list {
  padding: 0 !important;
}

@mixin flex-line ($grow:1, $ju-co:center) {
  display: flex;
  flex-basis: calc(1000px * #{$grow});
  justify-content: $ju-co;
  align-items: center;
  flex-grow: $grow;
}

@mixin main-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  transition: 0.5s all ease-in-out;

  @media (max-width: 767px) {
    width: 90%;
    
  }
  
  // background-color: black;
}

@mixin flex($fd:row) {
  display: flex;
  flex-direction: $fd;
}

@mixin flex-gap($fd:row, $gap:0.5) {
  @include flex($fd);
  gap: calc(#{$gap}*1em);
}


@mixin wh-ratio($w:1, $h:1){
  aspect-ratio: $w / $h;
}
