@import '@/styles/mixins/_layout.scss';
@import '@/styles/mixins/_select.scss';
@import '@/styles/mixins/_font.scss';
@import '@/styles/mixins/_button.scss';
@import '@/styles/mixins/_form.scss';
@import '@/styles/mixins/_components.scss';



@mixin li-none {
  text-decoration: none;
  list-style: none;
  color: white;
}

@mixin li-title {
  @include li-none;
  @include link-none;
  // border: 1px solid white;
  padding: 0.5em;
}

@mixin hover($color:$dm-pt-color1) {
  &:hover {
    @include trans(0.2);
    color: $color;
  }
}



@mixin link-none {
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
}

@mixin trans($time:0.5s, $what: all, $type:ease-in-out) {
  transition: $time $what $type;
}