@mixin select-section ($gap: .5em) {
  display: flex;
  flex-flow: wrap;
  justify-content: right;
  margin: $gap 0;
  gap: $gap;
}

@mixin select-style1 {
  select {
    @include f-6;
    width: 10em;
    min-width: 100px;
    margin: .5em 0;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    background-color: mix($dm-bg-color1, white, 90%);
    color: white;
    outline: none;
  }

  @include option-style1(white, $dm-bg-color1);
}

@mixin option-style1 ($color:white, $bg-color:$dm-bg-color1) {
  option {
    @include f-5;
    color: $color;
    background-color: $bg-color;
    
    &:hover {
      color: $bg-color;
      background-color: $color;
    }
  }
}